{% extends 'base.html' %}
{% block body_block %}
{% load static %}
<main>
      <center>
                              <h2>Cart List</h2>
                          </center>
      <!--================Cart Area =================-->
      <section class="cart_area section_padding">
        <div class="container">
          <div class="cart_inner">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in carts %}
                  <tr>
                    <td>
                      <div class="media">
                        <div class="d-flex">
                          <img src="{{i.product.image.url}}" alt="" />
                        </div>
                        <div class="media-body">
                          <p>{{i.product.name}}</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <h5>Rs. {{i.product.price}}</h5>
                    </td>
                    <td>
                      <!-- <div class="product_count">
                        <span class="input-number-decrement" pid={{i.product.id}}> <i class="ti-minus"></i></span>
                        <span class="input-number" type="text" id="quantity">{{cart.quantity}}</span>
                        <span class="input-number-increment" pid="{{i.product.id}}"> <i class="ti-plus"></i></span>
                    </div> -->
                      
                     <a class="minus-cart " pid={{i.product.id}}><i class="fas fa-minus-square fa-lg"></i></a>
                     <span id="quantity">{{i.quantity}}</span>
                     <a class="plus-cart " pid={{i.product.id}}><i class="fas fa-plus-square fa-lg"></i></a></div>
                    </td> 
                    <td>
                      <h5>Rs. {{i.total_cost}}</h5>
                    </td>
                    <td>
                      <a class="remove-cart" pid="{{i.product.id}}"><button style="background:black;color: rgb(235, 211, 115);">Remove</button></a>
                    </td>
            
                  </tr>
                  {% endfor%}
                  <tr>
                    <td></td>
                    <td></td>
                    <td>
                      <h5>Total</h5>
                    </td>
                    <td>
                      <h5><span id="amount">{{amount}}</span></h5>
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td>
                      <h5>Shipping</h5>
                    </td>
                    <td>
                      <h5> +  70 </h5>
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td>
                      <h5>Subtotal</h5>
                    </td>
                    <td>
                      <h5><span id="totalamount">{{totalamount}}</span></h5>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
              <div class="checkout_btn_inner float-right">
                <a class="btn_1" href="{% url 'shp' %}">Continue Shopping</a>
                {% if add %}
                <a class="btn_1 checkout_btn_1" href="{% url 'orderd' %}">Proceed to checkout</a>
                {%else%}
                <a class="btn_1 checkout_btn_1" href="{% url 'chk' %}">add address</a>
                {% endif %}
              </div>
            </div>
          </div>
      </section>
      <!--================End Cart Area =================-->
  </main>>
  {% endblock %}